<a [routerLink]="['/']">
  <h1>Nobel Laureates</h1>
</a>

<a [routerLink]="['/']" class="button fancy-button"><i class="material-icons">person</i>Winners</a>

<!-- Make request to search winners by a selected prize -->
<a [routerLink]="['/category']" class="button fancy-button"><i class="material-icons">star</i>Prize Category</a>

<!-- Make request to search winners by a selected institution -->
<!-- <a [routerLink]="['/institution']" class="button fancy-button"><i class="material-icons">account_balance</i>Institution</a> -->

<a [routerLink]="['/institution']" class="button fancy-button"><i class="material-icons">map</i>Country</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->